body{
    overflow-x: hidden;
    margin-right: -1rem;
    margin-left: 2rem;
}
.cont{
    margin-top: -3rem;
    display: flex;
    justify-content: center;
    transform: scale(0.785);
}
.txt{
    display: flex;
    justify-content: center;
   background-color: rgb(250, 105, 89);

    font-weight: bolder;
    margin-top: 5rem;
    border-radius: 25px;
    /* margin-left: 2;
    margin-right: 1rem; */
}
.age{
    display: flex;
    justify-content: center;
    margin-top: -2.5rem;
    flex-direction: column;
    list-style-type: none;
    padding: 68px;
    flex-direction: row;
    border-radius: 25rem;
}
ul{
    display: flex;
    justify-content: center;
}
.txt2{
    display: flex;
    justify-content: center;
    margin-right: 2px;
    background-color: rgb(250, 105, 89);
}
.fav{
    display: flex;
    justify-content: center;
    margin-top: -0.5rem;
    flex-direction: column;
    list-style-type: none;
    padding:10px;
    flex-direction: row;
    border-radius: 25rem;
}
ul{
    display: flex;
    justify-content: center;
}