body{
  background-color: rgb(207, 203, 203);
}

nav {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap:1 rem;
    background-color: rgb(250, 105, 89);
    border-radius: 32;
    
  }
  
  .text{
    display: flex;
    justify-content: end;

  }
  nav ul {
    display: flex;
    list-style-type: none;
  }
  
  nav ul li {
    margin: 10px 10px;
    padding: 0 0px;
  }
  
  nav ul li a {display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 13px;
  }
  
  .size {
    font-size: 45px;
    text-align: center;
  }
  
  h3 {
    font-size: 24px;
    text-align: center;
  }
.fly{
    display:flex;
    width: 55px;
}
